.sliderSliderPage
    .lineSliderPage
        img.imgSliderPage(src="../img/iconfinder_Captain_America_83133.png", alt="")
        img.imgSliderPage(src="../img/iconfinder_Captain-Shield_379551.png", alt="")
        img.imgSliderPage(src="../img/iconfinder_Flying_Iron_Man_73371.png", alt="")
        img.imgSliderPage(src="../img/iconfinder_Hulk_83138.png", alt="")
        img.imgSliderPage(src="../img/iconfinder_HULK_SMASH_ANTIQUATED_DESKTOP_UI_METAPHOR!!_73377.png", alt="")
        img.imgSliderPage(src="../img/iconfinder_Reactor_134235.png", alt="")
button.slider-leftSliderPage|Left