.container
    .left
        p.text-center|Checkbox для хитрого пользователя
    .right
        .pretty.p-switch.p-fill.myStyleForCheckbox
            input(type="checkbox" class="order" value="speed")
            .state
                label|Быстро
        .pretty.p-switch.p-fill.myStyleForCheckbox
            input(type="checkbox" class="order" value="cheap")
            .state
                label|Дешево
        .pretty.p-switch.p-fill.myStyleForCheckbox
            input(type="checkbox" class="order" value="quality")
            .state
                label|Качественно